{% extends "layout.html" %}
{% block section %}
<footer id="contact">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="titlepage">
                        <h2>Sign Up</h2>
                    </div>
                    <div class="cont">
                        <h3>Welcome to Felicity Hotel </h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered
                            alteration in some form, by injected humour,</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <form id="request" class="main_form" action="{{ url_for('guest.signup') }}"
                          method="post">
                        <div class="row">
                            <div class="col-md-12 ">
                                <input class="contactus" placeholder="Guest Name" type="text" name="Guest Name">
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder="Email" type="text" name="Email">
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder="Guest Country" type="text" name="Guest Country">
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder="Guest State" type="text" name="Guest State">
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder="Guest District" type="text" name="Guest District">
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder="Guest City" type="text" name="Guest City">
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder="Guest Street" type="text" name="Guest Street">
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder="Guest Pin Code" type="text" name="Guest Pin Code">
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder="Aadhar Card, Pan Card Number" type="text"
                                       name="Guest Id Proof">
                            </div>
                             <div class="col-md-12">
                                <input class="contactus" placeholder="password" type="password"
                                       name="password">
                            </div>
                             <div class="col-md-12">
                                <input class="contactus" placeholder="confirm password" type="password"
                                       name="confirm password">
                            </div>
                            <div class="col-sm-12">
                                <button class="send_btn">SignUp</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--               <p>Copyright 2019 All Right Reserved By <a href="https://html.design/"> Free Html Templates</a></p>-->
                        <p>Thank You!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
<!--    guestName
         guestEmail
         guestCountry
         guestState
         guestDistrict
   guestCity
   guestStreet
    guestPinCode
 guestUId
guestIdProof -->
