{% extends "layout.html" %}
{% block section %}
    <h1>WELCOME TO HOTEL Felicity </h1>
    <span>LANDING PAGE 2022</span>
    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
        form, by injected humour, or randomised words which don't look even slightly believable</p>
    <a href="#">Read More</a>
{% endblock %}